<section _ngcontent-clarity-c236="" class="sidenav-content">
    <section _ngcontent-clarity-c236="" class="nav-group">
        <input _ngcontent-clarity-c236="" id="tabexample2" type="checkbox">
        <label _ngcontent-clarity-c236="" for="tabexample2">Sidenav</label>
        <ul _ngcontent-clarity-c236="" class="nav-list">
            <li _ngcontent-clarity-c236="">
                <a _ngcontent-clarity-c236="" class="nav-link active">Link 1</a>
            </li>
            <li _ngcontent-clarity-c236="">
                <a _ngcontent-clarity-c236="" class="nav-link">Link 2</a>
            </li>
            <li _ngcontent-clarity-c236="">
                <a _ngcontent-clarity-c236="" class="nav-link">Link 3</a>
            </li>
            <li _ngcontent-clarity-c236="">
                <a _ngcontent-clarity-c236="" class="nav-link">Link 4</a>
            </li>
            <li _ngcontent-clarity-c236="">
                <a _ngcontent-clarity-c236="" class="nav-link">Link 5</a>
            </li>
            <li _ngcontent-clarity-c236="">
                <a _ngcontent-clarity-c236="" class="nav-link">Link 6</a>
            </li>
        </ul>
    </section>
</section>
