<nav class="subnav">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a href="javascript://" class="nav-link active">Create</a>
        </li>
        <li class="nav-item">
            <a href="javascript://" class="nav-link">Manage</a>
        </li>
        <li class="nav-item">
            <a href="javascript://" class="nav-link">My Portfolio</a>
        </li>
        <li class="nav-item">
            <a href="javascript://" class="nav-link">Explore</a>
        </li> -->
        <li class="nav-item" style="margin: auto">
            <a href="javascript://" class="nav-link">Explore</a>
        </li>
        <li class="nav-item" style="margin: auto" *ngIf="!authService.isLoggedIn">
            <a routerLinkActive="active" class="nav-link" (click)="authService.login()">Sign In</a>
        </li>
        <li class="nav-item" style="margin: auto" *ngIf="authService.isLoggedIn">
            <a routerLinkActive="active" class="nav-link" (click)="authService.logout()">Log out</a>
        </li>
    </ul>
</nav>