<nav class="subnav">
    <ul _ngcontent-clarity-c236="" class="nav">
        <li _ngcontent-clarity-c236="" class="nav-item">
            <a _ngcontent-clarity-c236="" href="javascript://" class="nav-link active">Subnav Link 1</a>
        </li>
        <li _ngcontent-clarity-c236="" class="nav-item">
            <a _ngcontent-clarity-c236="" href="javascript://" class="nav-link">Subnav Link 2</a>
        </li>
        <li _ngcontent-clarity-c236="" class="nav-item">
            <a _ngcontent-clarity-c236="" href="javascript://" class="nav-link">Subnav Link 3</a>
        </li>
        <li _ngcontent-clarity-c236="" class="nav-item">
            <a _ngcontent-clarity-c236="" href="javascript://" class="nav-link">Subnav Link 4</a>
        </li>
        <li _ngcontent-clarity-c236="" class="nav-item">
            <a _ngcontent-clarity-c236="" href="javascript://" class="nav-link">Subnav Link 5</a>
        </li>
    </ul>
</nav>