<nav class="subnav">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a href="javascript://" class="nav-link active">Create</a>
        </li>
        <li class="nav-item">
            <a href="javascript://" class="nav-link">Manage</a>
        </li>
        <li class="nav-item">
            <a href="javascript://" class="nav-link">My Portfolio</a>
        </li>
        <li class="nav-item">
            <a href="javascript://" class="nav-link">Explore</a>
        </li> -->
        <li class="nav-item" style="margin: auto">
            <a href="javascript://" class="nav-link">Explore</a>
        </li>
        <li class="nav-item" style="margin: auto">
            <a href="javascript://" class="nav-link">Create Account</a>
        </li>
        <li class="nav-item" style="margin: auto">
            <a href="javascript://" class="nav-link active">Sign In</a>
        </li>
    </ul>
</nav>