<header class="header header-3">
    <div class="branding">
        <a routerlink="/" class="logo-and-title" href="/">
            <span class="clr-icon reimage-logo"></span>
            <span class="title">ReIMAGE</span>
        </a>
    </div>
    <div class="header-nav">
        <a class="active nav-link"><span class="nav-text">Dashboard</span></a>
        <a class="nav-link"><span class="nav-text">Editor</span></a>
        <a href="https://github.com/Jerome-Carter/ReIMAGE" target="_blank" class="nav-link"><span class="nav-text">GitHub</span></a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for keywords...">
        </label>
    </form>
    <div class="header-actions">
        <a href="..." class="nav-link nav-icon" aria-label="profile">
            <clr-icon shape="user"></clr-icon>
        </a>
        <a href="..." class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>